*{
    font-family: LemonMilk;
}

#corpo-pagina{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

#corpo-carrello{
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}

.prodottoCarrello{
    padding: 20px;
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}


.immagineProdottoCarrello{
    height: 12vh;
    max-height: 13vh;
    max-width: 12vw;
    border: 2px solid #F08354;
    padding: 15px;
}

.infoProdottoCarrello{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.eliminaProdottoCarrello{
    cursor: pointer;
    transition: 0.2s;
}

.eliminaProdottoCarrello:hover{
    opacity: 0.6;
}

#acquistaCarrello{
    background-color: #F08354;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#acquistaCarrello:hover{
    opacity: 0.6;
}

.quantitaProdottoCarrello{
    width: 50px;
}



@media only screen and (max-width: 1350px) {
    #corpo-pagina {
        margin-top: 0px;
        height: calc(80vh - 15px) !important;
    }

    #corpo-carrello{
        width: 95%;
    }

    .prodottoCarrello{
        padding: 5px;
        height: 10vh;
        width: 95%;
        font-size: 10px;
    }

    .immagineProdottoCarrello{
        height: 8vh;
        max-height: 8vh;
        max-width: 40vw;
        padding: 10px;
    }

    .infoProdottoCarrello{

    }

    .eliminaProdottoCarrello{

    }

    .eliminaProdottoCarrello:hover{

    }

    #acquistaCarrello{
        font-size: 10px;
        border-radius: 30px;
        height: auto;
        width: auto;
    }

    #acquistaCarrello:hover{
    }

    .quantitaProdottoCarrello{
        width: 40px;
    }
}
