#corpo-pagina{
	height: calc(92vh - 2px);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-categorie{
	height: calc(92vh - 2px);
	width: 20vw;
	background-color: #F08354;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: LemonMilk;
}


#menu-categorie table{
	font-size: 3vh;
    border-collapse: separate;
    border-spacing: 0 1em;
	display: block;
	max-height: calc(92vh - 2px);
}

#menu-categorie tr{
	text-align: center; 
    vertical-align: middle;
}

#menu-categorie tbody:before { /* SERVE A DARE SPAZIO TRA THEAD E TBODY*/
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}


#menu-categorie tbody tr {
	margin-top: 100px;
	cursor: pointer;
}

#menu-categorie td i{
	transition: 0.2s;	
	transform: rotate(-90deg);
}
/*per muovere il pulsante della categoria*/
#menu-categorie td:hover > a i{
	transform: translateX(10px) rotate(-90deg);
}

#menu-categorie td a{
    text-decoration: none;
	color: white;
}


#main-corpo{
	height: calc(92vh - 2px);
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#carosello{
	display: inline-block;
	border: 5px solid #F08354;
	border-radius: 4px;
	position: relative;
}

#carosello img{
	height: 40vh;
    margin: 0;
    padding: 0;
}

#carosello-cursori{
	height: 5vh;
	font-size: 5vh;
	width: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#carosello-cursori i{
	cursor: pointer;
	transition: 0.2s;
	color: #F08354;
}

#carosello-cursori i:hover{
	transform: scale(1.3);
}

.carosello-disattivata{
	display: none;
}

.carosello-attiva{
	display: block;
}

#prodotti-vetrina{
	height: 40vh;
	width: 75vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#prodotti-vetrina a{
	text-decoration: none;
}

.prodotto{
	cursor: pointer;
	height: 18vh;
	width: 15vw;
	border: 3px solid #F08354;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: LemonMilk;
	text-align: center;
}

.immagine-prodotto{
	height: 5vh;
	margin-top: 2px;
}

.titolo-prodotto{
	transition: 0.2s;
	margin-top: 5px;
	font-size: 20px;
	color: black;
}

.prodotto:hover > .titolo-prodotto{
	color: #F08354;
}

.descrizione-prodotto{
	font-size: 10px;
	color: black;	
}

.prezzo-prodotto{
	margin-top: 5px;
	font-size: 20px;
	color: #F08354;
}

@media only screen and (max-width: 1050px) {
	.immagine-prodotto{
		height: 4vh;
	}

	.titolo-prodotto{
		margin-top: 4px;
		font-size: 17px;
	}

	.descrizione-prodotto{
		font-size: 8px;
	}

	.prezzo-prodotto{
		margin-top: 4px;
		font-size: 17px;
	}
}

@media only screen and (max-width: 1000px) {
	#menu-categorie table{
		font-size: 2.5vh;
	}
}

@media only screen and (max-width: 900px) {
	#menu-categorie table{
		font-size: 2vh;
	}


	.immagine-prodotto{
		height: 3.5vh;
	}

	.titolo-prodotto{
		margin-top: 4px;
		font-size: 16px;
	}

	.descrizione-prodotto{
		font-size: 7px;
	}

	.prezzo-prodotto{
		margin-top: 4px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 700px) {
	#menu-categorie {
		display: none;
	}

	#main-corpo {
		height: calc(85vh);
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#carosello{
		max-width: 90vw;
	}

	#carosello img{
		max-width: 90vw;
		max-height: 50vh;
	}

	#prodotti-vetrina{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100vw;
		margin-top: 10px;
	}

	.prodotto{
		cursor: pointer;
		height: 30vh;
		width: 50vw;
		border: 3px solid #F08354;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: LemonMilk;
		text-align: center;
		margin-bottom: 10px;
	}

	.immagine-prodotto{
		height: 10vh;
	}

	.titolo-prodotto{
		margin-top: 10px;
		font-size: 20px;
		color: black;
	}

	.descrizione-prodotto{
		font-size: 10px;
		color: black;
	}

	.prezzo-prodotto{
		margin-top: 10px;
		font-size: 20px;
		color: #F08354;
	}
}
