*{
    font-family: LemonMilk;
}

#corpo-pagina{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

#pic-utente{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #F08354;
}

#ordini, #recensioni{
    height: 25vh;
    width: 90vw;
    border: 1px solid black;
    overflow-y: scroll;
}

#ordini table, #recensioni table{
    width: 100%;
    text-align: center;
    border-collapse:separate;
    border-spacing:15px;
}

#ordini table thead, #recensioni table thead{
    color: #F08354;
}

#ordini table tbody, #recensioni table tbody{
    font-size: 0.8em;
}

#ordini table tbody tr, #recensioni table tbody tr{
    cursor: pointer;
    transition: 0.2s;
}

#ordini table tbody td, #recensioni table tbody td{
    padding-top: 5px;
    padding-bottom: 5px;
}

#ordini table tbody tr:hover, #recensioni table tbody tr:hover{
    background-color: rgb(220,220,220);
}

.fa-pen-square{
    cursor: pointer;
    margin-left: 10px !important;
    transition: 0.3s;
}

.fa-pen-square:hover{
    color: #F08354;
}

@media only screen and (max-width: 1350px) {
    #corpo-pagina {
        margin-top: 10px;
        height: calc(80vh - 15px) !important;
    }

    #ordini, #recensioni{
        height: 20vh;
        width: 90vw;
        border: 1px solid black;
        overflow-y: scroll;
        font-size: 10px;
    }
}
