#prodotti{
    height: 90%;
    width: 95%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #F08354;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#prodotti a{
    text-decoration: none;
    margin-top: 25px;
}

.prodotto{
    height: 35vh;
    width: 25vw;
    border: 2px solid #F08354;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: LemonMilk;
    color: black;
}

.immagine-prodotto{
    height: 40%;
}

.titolo-prodotto{
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

.descrizione-prodotto{
    font-size: 10px;
    color: black;
}

.prezzo-prodotto{
    margin-top: 5px;
    font-size: 20px;
    color: #F08354;
}

@media only screen and (max-width: 600px) {
    #prodotti {
        height: 80vh;
        width: 90vw;
    }
    .prodotto{
        height: 35vh;
        width: 85vw;
    }
}